@font-face {
    font-family: 'Monocraft';
    src: url('../../public/static/assets/subassets/Monocraft.otf') format('opentype');
}

.home-view * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.home-view-body,
footer {
    font-family: 'Monocraft', sans-serif;
    background: url('../../public/static/assets/background.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem; /* 20px */
}

.input-field {
    font-family: 'Monocraft', sans-serif;
    width: 37.5rem; /* 600px */
    padding: 1.25rem 0; /* 20px */
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
    background: url('../../public/static/assets/item_c.png') no-repeat center;
    background-size: cover;
    border: 0.125rem solid #383838; /* 2px */
    text-shadow: 0.125rem 0.125rem 0.25rem #000; /* 2px 2px 4px */
    text-decoration: none;
    box-shadow: 0.25rem 0.25rem 0px #222; /* 4px 4px */
    transition: all 0.2s ease-in-out;
    cursor: text;
}

.input-field:focus {
    outline: none;
    border-color: #ffffa0;
    box-shadow: 0.125rem 0.125rem 0px #ffffa0; /* 2px 2px */
}

.home-view .background {
    text-align: center;
    width: 100%;
    position: relative;
}

.home-view .title h1 {
    font-size: 4rem; /* 64px */
    color: #ffffff;
    text-shadow: 0.25rem 0.25rem 0px #000; /* 4px 4px */
    margin: 1.875rem auto 3.125rem; /* 30px auto 50px */
}

.home-view .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem; /* 20px */
}

.home-view .button {
    width: 37.5rem; /* 600px */
    padding: 1.25rem 0; /* 20px */
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
    background: url('../../public/static/assets/item_c.png') no-repeat center;
    background-size: cover;
    border: 0.125rem solid #383838; /* 2px */
    text-shadow: 0.125rem 0.125rem 0.25rem #000; /* 2px 2px 4px */
    text-decoration: none;
    box-shadow: 0.25rem 0.25rem 0px #222; /* 4px 4px */
    transition: all 0.2s ease-in-out;
    cursor: default;
}

.home-view .button.disabled {
    opacity: 1;
}

.home-view .button.active {
    font-family: 'Monocraft', sans-serif;
    cursor: pointer;
}

.home-view .button:hover {
    background: url('../../public/static/assets/selected_item_c.png') no-repeat center;
    background-size: cover;
    color: #ffffa0;
    box-shadow: 0.125rem 0.125rem 0px #222; /* 2px 2px */
    transform: translate(0.125rem, 0.125rem); /* 2px, 2px */
}

.home-view .time-label {
    display: inline-block;
    animation: fadeIn 4s infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}

.home-view .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    font-size: 1.5rem; /* 24px */
    color: #ffffff;
    text-shadow: 0.0625rem 0.0625rem 0.125rem #000; /* 1px 1px 2px */
}

.home-view .footer-left,
.home-view .footer-right {
    flex: 1;
}

.home-view .footer-left {
    text-align: left;
}

.home-view .footer-right {
    text-align: right;
}
