@font-face {
    font-family: 'Monocraft';
    src: url('../../public/static/assets/subassets/Monocraft.otf') format('opentype');
}

.main-view html {
    font-size: 1rem; /* 16px */
}

.results-table {
    max-height: 400px;
    overflow-y: auto;
}

body.main-view-body,
.main-view footer {
    font-family: 'Monocraft', sans-serif;
    font-size: 1rem; /* 16px */
    background: url('../../public/static/assets/background_aquatic.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-view .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.main-view .left-panel,
.main-view .right-panel {
    width: 31.25rem; /* 500px */
    height: 31.25rem; /* 500px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-view .left-panel {
    margin-top: 2rem;
}

canvas {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.25);
}

.main-view .right-panel {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.625rem; /* 10px */
    padding: 1.875rem; /* 30px */
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.7); /* 10px */
}

.main-view .form-field {
    margin-bottom: 1.25rem; /* 20px */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-view .form-field label {
    font-size: 1rem; /* 16px */
    margin-bottom: 0.625rem; /* 10px */
    text-align: center;
}

.main-view .label-x,
.main-view .label-y,
.main-view .label-r {
    color: #ffffff;
    text-align: center;
    font-size: 1rem; /* 16px */
}

.main-view .input-y,
.main-view .input-r {
    font-family: 'Monocraft', sans-serif;
    text-align: center;
    font-size: 1rem; /* 16px */
    padding: 0.3125rem; /* 5px */
    margin-bottom: 0.625rem; /* 10px */
    width: 6rem; /* 96px */
    box-sizing: border-box;
}

.main-view .panel-gap {
    width: 1.25rem; /* 20px */
    height: 31.25rem; /* 500px */
}

.main-view .change-x {
    font-family: 'Monocraft', sans-serif;
    padding: 0.3125rem; /* 5px */
    font-size: 1rem; /* 16px */
    border-radius: 0.3125rem; /* 5px */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.3125rem; /* 5px */
    width: 2.2rem; /* 35.2px */
    height: 2rem; /* 32px */
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.main-view .change-x.active {
    background-color: #222;
    color: #ffff00;
}

.main-view .check-point-button,
.main-view .back-button {
    margin: 0.5rem; /* 8px */
    width: 80%;
    padding: 0.625rem 0; /* 10px */
    font-size: 1rem; /* 16px */
    color: #ffffff;
    text-align: center;
    background: url('../../public/static/assets/item_c.png') no-repeat center !important;
    background-size: cover !important;
    border: 0.125rem solid #383838 !important; /* 2px */
    text-shadow: 0.125rem 0.125rem 0.25rem #000; /* 2px 2px 4px */
    text-decoration: none;
    box-shadow: 0.25rem 0.25rem 0px #222; /* 4px 4px */
    transition: all 0.2s ease-in-out;
    cursor: default;
}

.main-view .check-point-button.active,
.main-view .back-button.active {
    font-family: 'Monocraft', sans-serif;
    cursor: pointer;
}

.main-view .check-point-button:hover,
.main-view .back-button:hover {
    background: url('../../public/static/assets/selected_item_c.png') no-repeat center !important;
    background-size: cover !important;
    color: #ffffa0 !important;
    box-shadow: 0.125rem 0.125rem 0px #222 !important; /* 2px */
    transform: translate(0.125rem, 0.125rem) !important; /* 2px */
}
